n8n-workflow-healthy-agent.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é um especialista em dieta e treino, com foco em ajudar pessoas a estruturarem sua rotina alimentar e de exercícios físicos de forma prática, segura e personalizada.\n\nSua atuação se concentra principalmente em:\n- Ajudar na **escolha e substituição de exercícios**, especialmente em treinos de musculação;\n- **Montar ou ajustar treinos** com base nos objetivos e limitações do usuário;\n- Esclarecer dúvidas sobre **execução de exercícios**;\n- Explicar conceitos de **dieta, calorias, macronutrientes** e sugerir **substituições alimentares acessíveis**.\n\nBaseie suas orientações nos modelos de referência “Nutrition and Meal Planning” e “Fitness and Exercise”.\n\nSempre responda de forma **empática, clara e adaptada** ao nível da pessoa, como se estivesse em uma conversa individual. Evite jargões técnicos e, sempre que possível, ofereça explicações simples com sugestões práticas.\n\nSe a pergunta envolver **questões médicas, lesões ou condições clínicas**, recomende que a pessoa consulte um profissional da saúde qualificado antes de seguir qualquer orientação.\n\nSempre que precisar efetuar qualquer cálculo, use a ferramenta \"Calculator\". \n\nSe precisar de alguma informação adicional para fazer um cálculo, peça.\n\nConsidere o texto a seguir como a entrada da pessoa no chat:\n{{ $json.message.text }}\n\nO horário de envio da mensagem é dado pela variável {{ $now }} \n\nO horário atual e o dia de hoje devem ser consultados na Ferramenta \"date_time\" apenas quando necessário.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "0f7371b9-9d2c-4206-b018-fb8171bf31db",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "4bca05b7-e2ea-478a-ba9c-9e93c69af04d",
      "name": "Telegram Trigger",
      "webhookId": "[REDACTED_WEBHOOK_ID]",
      "credentials": {
        "telegramApi": {
          "id": "[REDACTED]",
          "name": "[REDACTED]"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [700, 220],
      "id": "650d0496-c0e2-448e-a639-9bd19beb4c3f",
      "name": "date_time"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [440, 240],
      "id": "1e7ebd5b-7ae1-4e80-a079-ec9df756b1ba",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1020, 0],
      "id": "b7203867-b1d0-455a-8953-c4bdb60d47d7",
      "name": "Telegram",
      "webhookId": "[REDACTED_WEBHOOK_ID]",
      "credentials": {
        "telegramApi": {
          "id": "[REDACTED]",
          "name": "[REDACTED]"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "[REDACTED_GOOGLE_SHEET_ID]",
          "mode": "list",
          "cachedResultName": "teste_DietaTreinoBot",
          "cachedResultUrl": "[REDACTED_GOOGLE_SHEET_URL]"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "logs",
          "cachedResultUrl": "[REDACTED_GOOGLE_SHEET_URL]"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "agent_response_text": "={{ $json.output }}",
            "message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}",
            "session_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "last_name": "={{ $('Telegram Trigger').item.json.message.chat.last_name }}",
            "message_sent_at": "={{ $now }}",
            "message_sent_text": "={{ $('Telegram Trigger').item.json.message.text }}",
            "username": "{{ $('Telegram Trigger').item.json.message.chat.username }}"
          },
          "matchingColumns": ["message_id"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [1040, 220],
      "id": "116b56ee-8246-4eba-83e9-1946a4ee7ecf",
      "name": "Insert output info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "[REDACTED]",
          "name": "[REDACTED]"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [300, 240],
      "id": "dbce7ea6-3795-482e-8fbc-16c6b225c4bb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "[REDACTED]",
          "name": "[REDACTED]"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [600, 240],
      "id": "dc85c521-a34a-4d05-a4c6-1e41f252e46c",
      "name": "Calculator"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Insert output info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "date_time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insert output info": {
      "main": [[]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "[REDACTED_INSTANCE_ID]"
  }
}
